Body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
}

main {
  text-align: center;
}
.header {
  height:8px;
  background-color: #FFFFFF;
  padding-bottom: 9px;
}
.header h4 {
  color: #6B7177;
  float: left;
  margin: 10px 20px 10px 20px;
  font-size: 15px;
}
.header ul {
  display: inline;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;



}
.header li {
  display: inline;
  float: left;
  margin: 10px 15px;

}
.header a {
  color: #6B7177;
}
.hero {
clear:both;
background: url("../images/background.jpg");
background-size: cover;
width: 100%;
text-align: center;
padding:55px 30px;
font-weight: lighter;

}
.hero h1{
  color: white;
  margin: 20px 0px;
  font-weight: 400;
  line-height: 18px;
  font-size: 30px;
   text-shadow: 1px 1px 1px #000;

}

.bundles {
text-align: center;
padding: 10px;
overflow: hidden;
margin-top: 10px;


}

.personal , .small-business , .Enterprise {
  margin-top: 30px;
  text-align: center;
  padding: 0px;
  border: 1px solid #efefef;
}
.top {
  padding: 30px;
  color: white;



}
.top h1{
  font-size: 100px;
  margin: 0px;
  font-weight: 300;

}
.top h2 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0px;

}

.top h3 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.5);
}

.bundles li {
  background-color: #F7F7F7;
  list-style: none;
  border-top: .5px solid #efefef;
  border-bottom: .5px solid #efefef;
  padding: 12px;
  margin: 0px;
  font-size: 16px;

}
.bundles ul{
margin: 0px;
padding: 0px;

}

.cta {
  background-color: white;
  margin: 0 auto;
  padding: 20px;

}
.cta a {
  color: black;
  text-decoration: none;

}

.cta h6 {
  font-weight: 600;
  list-style: none;
  border: .5px solid #efefef;
  padding: 10px;
  margin: 0 auto;
  width: 100px;
  border-radius: 20px;
  font-size: 18px;

}

.small-business .top {
  background-color: #2C4985;
}
.personal .top {
  background-color:#519251;
}
.Enterprise .top {
    background-color:black;
}
.text {
  clear:both;
  color: black;
  text-align: left;
  padding: 10px;
  overflow: hidden;
   margin-top: 50px;
}
.text p {
 font-size: 15px;
 line-height: 20px;
 }
 .text h5 {
   letter-spacing: 4px;
   font-size: 18px;

 }
.hightlights {
  margin: 10px;

}
footer {
  background-color: black;
  color:#AFB5B8;
  padding: 12px 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}
footer a {
  color: white;
}

@media (min-width: 479px){
  .hero {
    height: 290px;
    width: auto;
  }
  .hero h1 {
    position: relative;
    top: 50px;
    font-size: 40px;
    line-height: 30px; }
}

@media (min-width: 769px) and (max-width: 978px) {
  .personal , .small-business , .Enterprise {
    width: 32%;
    float: left;
    margin: 4px;

    } .highlights {
      width: 41%;
      float: left;
      margin: 33px;
    }
  }

  @media (min-width: 979px)  {
    .personal , .small-business , .Enterprise {
      width: 32%;
      float: left;
      margin: 4px;
      }
      .bundles {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 30px;
      }
     .highlights {
        width: 41%;
        float: left;
        margin: 33px;
      }
      .text {
        max-width: 1000px;
        margin: 0 auto;

      }
    }
